._audioJScontrol {
    @extend .icon;
    background: none;
    top: 2px;
    left: 2px;
    display: none;
}

.audiojs {
    background: $comp-bg;
    border: 6px solid #e4e4e4;
    box-shadow: none;

    .play-pause {
        font-size: 18px;
        border-right: 1px solid #e4e4e4;

        &:hover {
            color: $accent-lighter;
        }

        .play {
            @extend ._audioJScontrol;
            display: block;
            &::before {
                content: "\e61d";
            }
        }

        .pause {
            @extend ._audioJScontrol;
            &::before {
                content: "\e61e";
            }
        }

        .loading {
            @extend ._audioJScontrol;
            &::before {
                content: "\e61b";
            }
        }

        .error {
            @extend ._audioJScontrol;
            color: red;
            &::before {
                content: "\e61c";
            }
        }
    }


    &.playing {
        .play-pause .play {
            display: none;
        }

        .play-pause .pause {
            display: block;
        }
    }

    &.loading {
        .play-pause .play {
                display: none;
            }

        .play-pause .loading {
            display: block;
        }
    }

    &.error {
        .play-pause .play {
                display: none;
            }

        .play-pause .error {
            display: block;
        }
    }


    .scrubber {
        background: #e4e4e4;
        border: 0;

        .progress {
            background: $accent-lighter;
        }

        .loaded {
            background: $accent-darker;
        }
    }

    .time {
        color: $divider;
        text-shadow: none;
        border-left: 1px solid #e4e4e4;

        .played {
            color: $main-font;
        }
    }

    .error-message {
        color: $main-font;
    }
}