/* @group Footer */

#site_footer {
    margin: 50px 0;
    height: 70px;
    width: 100%;
    border-top: 1px dashed $divider;
    border-bottom: 1px dashed $divider;
}

.footer_body {
    max-width: 600px;
    width: 96%;
    margin: 0 2%;
    margin: 0 auto;
    height: 70px;
    line-height: 70px;
}

/* @end Footer */