// src/styles/comps/header.scss 
.site-header {
    height: $header-height;
    background: $body-bg;
    position: relative;
    width: 100%;
}

.logo {
    font-family: $heading-font;
    color: $header-font-colour;
    height: $header-height;
    line-height: $header-height;
    background: $header-bg;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 0 20px;
    padding: 0 10px;
    float: left;
    position: relative;

    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }

    @media handheld, only screen and (max-width: 370px) {
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
        font-size: 24px;
    }
}

.social-nav {
    font-family: $heading-font;
    color: $header-bg;
    height: $header-height;
    line-height: $header-height;
    margin: 0 20px 0 0;
    padding: 0;
    float: right;
    position: relative;

    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }

    @media handheld, only screen and (max-width: 370px) {
        display: none; 
    }
}

.social-links {
    padding: 0;
    margin: 0;

    &__link {
        list-style: none;
        float: left;

        a {
            display: block;
            height: 100%;
            padding: 0 20px;
        }

        &:hover {
            background: $header-bg;
            color: $header-font-colour;
        }
    }
}
