// @group Site Header

#site_header {
    height: 175px;
}

#site_header a:active {
    outline: 0;
}

#site_header a:hover {
    text-decoration: none;
}

.logo {
    display: block;
    text-decoration: none;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 55px;
    color: $accent;

    a {
        color: inherit;
        display: inline-block;
        position: relative;

        &:hover {
        
            &::before {
                left: -25px;
                opacity: 0.3;
            }

            &::after {
                right: -25px;
                opacity: 0.3;
            }
        }

        &::before {
            content: "[";
            position: absolute;
            display: block;
            left: 2px;
            top: 0;
            opacity: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
        }

        &::after {
            content: "]";
            position: absolute;
            display: block;
            right: 2px;
            top: 0;
            opacity: 0;
            transition: all .2s;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            -ms-transition: all .2s;
        }
    }
}


// @group Main Nav

#site_menu {
    margin-top: 17px;
    width: 100%;
    border-top: 1px dashed $divider;
    border-bottom: 1px dashed $divider;
}

#site_menu ul {
    height: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#site_menu li {
    margin: 0;
    padding: 0;
    height: 50px;
    // width: 16.6%;
    width: (100%/4);
    float: left;
    list-style: none;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}

#site_menu li a {
    color: #000;
    text-decoration: none;
    display: block;

    display: inline-block;
    position: relative;

    &:hover {
        
        &::before {
            left: -11px;
            opacity: 1;
        }

        &::after {
            right: -11px;
            opacity: 1;
        }
    }

    &::before {
        content: "[";
        position: absolute;
        display: block;
        left: 2px;
        top: 0;
        opacity: 0;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
    }

    &::after {
        content: "]";
        position: absolute;
        display: block;
        right: 2px;
        top: 0;
        opacity: 0;
        transition: all .2s;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
    }
}

#site_menu li a:hover {
    color: $accent;
}

// @end Main Nav




// @end Site Header