.align_right {
    text-align: right;
}

.half {
    width: 50%;
    margin: 0;
    float: left;
}

/* @group Pagination */

.pagination {
    display: block;
    clear: both;
    width: 90%;
    height: 50px;
    margin: 20px auto;
}

.pagination__link {
    @extend .button;
}

.pagination__link--older {
    @extend .pagination__link;
    float: left;
}

.pagination__link--newer {
    @extend .pagination__link;
    float: right;
}

/* @end Pagination */
