// src/styles/comps/highlight.scss 


$light-grey: #999988;
$red: #b87a7a;
$green: #7ab87a;
$purple: #b87ab8;
$grue: #7ab8b8;
$code-bg: #011b21;
$code-fg: #ffffff;

pre {
    width: 100%;
    box-sizing: border-box;
    background: $code-bg;
    color: $code-fg;
    font-family: $code-font;
    font-size: 14px;
    font-family: 300;
    overflow: auto;

    code {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

    @media handheld, only screen and (max-width: 400px) {
        font-size: 12px;
    }
}
/* @group Syntax highlighting (src:https://github.com/mojombo/tpw/blob/master/css/syntax.css) */

.highlight, .entry-content pre { font-size: 15px; }
.entry-content pre { padding: 8px 16px; }
.highlight .c, .hljs-comment { color: $light-grey; font-style: italic } /* Comment */
.highlight .err, .hljs-error { color: $light-grey; background-color: none } /* Error */
.highlight .k, .hljs-keyword { font-weight: normal } /* Keyword */
.highlight .o, .hljs-operator { font-weight: normal; color: #2b475e; } /* Operator */
.highlight .cm, .hljs-comment { color: $light-grey; font-style: italic } /* Comment.Multiline */
.highlight .cp, .hljs-preprocessor { color: $light-grey; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: $light-grey; font-style: italic } /* Comment.Single */
.highlight .cs { color: $light-grey; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold; color: #a353b9; } /* Keyword.Constant */
.highlight .kd { font-weight: bold; color: #00b15d; } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr, .hljs-literal { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m, .hljs-number { color: $grue } /* Literal.Number */
.highlight .s, .hljs-string, .lang-html .hljs-value { color: $red } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #007fbc } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #0097de } /* Literal.Number.Float */
.highlight .mh { color: #0097de } /* Literal.Number.Hex */
.highlight .mi { color: #0097de } /* Literal.Number.Integer */
.highlight .mo { color: #0097de } /* Literal.Number.Oct */
.highlight .sb { color: #e65200 } /* Literal.String.Backtick */
.highlight .sc { color: #e65200 } /* Literal.String.Char */
.highlight .sd { color: #e65200 } /* Literal.String.Doc */
.highlight .s2 { color: #e65200 } /* Literal.String.Double */
.highlight .se { color: #e65200 } /* Literal.String.Escape */
.highlight .sh { color: #e65200 } /* Literal.String.Heredoc */
.highlight .si { color: #e65200 } /* Literal.String.Interpol */
.highlight .sx { color: #e65200 } /* Literal.String.Other */
.highlight .sr, .hljs-regexp { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.hljs-title { color: $grue; }
.hljs-attribute { color: $green; }

.hljs-function > .hljs-keyword { color: $green; }

/* @end Syntax highlighting */
