
@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/icomoon.woff") format("woff"),
         url("../fonts/icomoon.ttf") format("truetype"),
         url("../fonts/icomoon.svg#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* ICONS
-----------------------------------------------------------------------------*/
/* @group ICONS */

.icon {
    font-family: 'icomoon';
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    line-height: 24px;
    text-align: center;
}


/* @end ICONS */