// src/styles/comps/typo.scss
@import '../_vars';

html, body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: $main-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sanchez', serif;
}


a {
    color: $main;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grey {
    color: #868686;
    text-shadow: 0 1px 1px #ffffff;
}

::-moz-selection {
    background: $main;
    color: $main-contrast;
    text-shadow: none;
}

::selection {
    background: $main;
    color: $main-contrast;
    text-shadow: none;
}


img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


textarea {
    resize: vertical;
}

blockquote {
    background: #f7f7f7;
    color: #999999;
    width: 80%;
    margin: 30px auto;
    padding: 30px;
    font-size: 20px;
    font-family: "Georgia";
    border-radius: 5px;
    box-shadow: 0px 0px 8px rgba(0,0,0,.15);
    position: relative;
    margin-bottom: 50px;
}

blockquote::after {
    content: "";
    display: block;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    border-top: 15px solid #f7f7f7;
    top: 100%;
    right: 90px;
}

blockquote::before {
    content: "\201C";
    color: #b83838;
    font-size: 80px;
    display: block;
    position: absolute;
    top: 16px;
    left: 0px;
}

blockquote .author {
     position: absolute;
     font-size: 17px;
     right: 50px;
     bottom: -40px;  
}


.note--small {
    color: #999999;
    font-size: 14px;
    padding: 2px 5px;
    border-left: 3px solid #999;
    width: 100%;
    max-width: $max-width;
    margin: 10px auto;
}

.side-note {
    width: 100%;
    max-width: $max-width;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 10px;
    background: $body-bg-accent;
}

