{{ partial "header" . }}
<body class="antialiased text-slate-500 dark:text-slate-300 bg-white dark:bg-slate-950">
    {{ partial "nav" . }}
    <main class="container">
        {{ range sort .Paginator.Pages }}
        <article class="mt-10 mb-10">
            <time class="text-sm text-slate-600 dark:text-slate-400">{{ .Date.Format "January 2, 2006" }}</time>
            <h2 class="text-2xl text- mb-2"><a href="{{ .Permalink }}" class="no-underline text-inherit">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h2>
            {{ if .Params.tags }}
            {{ partial "tags" .Params.tags }}
            {{ end }}

            <section class="mt-2 prose max-w-none dark:text-slate-300">
                {{ .Summary | plainify | safeHTML }}
                {{ if .Truncated }}
                <a href="{{ .Permalink }}" style="height:28px">
                    Read more...
                </a>
                {{ end }}
            </section>
        </article>
        {{ end }}
    </main>
    {{ partial "pager" . }}
    {{ partial "footer" . }}
</body>
</html>
