@import './_vars';
@import 'bourbon';
@import 'comps/_helper';  
@import 'comps/_typo';  

@import 'comps/_basics';
@import 'comps/_header'; 
@import 'comps/_posts';
@import 'comps/_footer';
@import 'comps/_highlight';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: $body-bg;
    height: 100%;
}
