@import 'vendor/_normalize';
@import 'vendor/_kube_grid';
@import 'comps/_grid';   
@import 'comps/_typo';  
@import 'comps/_icons';
@import 'comps/_btns';   
@import 'comps/_helper';  


/* @group General */

html, body {
	background: url("../img/bg.png") repeat;
}

#page_wrap {    
}

/* @end General */

@import 'comps/_header'; 

/* @group Main Content */

#main_content {
	margin: 50px auto;
	width: 100%;
}

#home_grid {
	width: 100%;
	padding: 0;
	margin: 0;
}



@import 'comps/_posts'; 
@import 'comps/_forms'; 

/* @end Main Content */

@import 'comps/_sidebar'; 


@import 'comps/_footer'; 



/* @group Responisviness */

@media handheld, only screen and (max-width: 1028px) {
	.logo img {
		margin: 0 7% 0 13%;
	}
}


@media handheld, only screen and (max-width: 710px) {
	.block-two > li {
		width: 44.809%;
		margin-left: 1.191%;
	}

	.third,
	.quarter,
	.fifth,
	.sixth,
	.twothird,
	.twofifth,
	.threefifth,
	.fourfifth,
	.fivesixth,
	.threequarter,
	.threefifth.littlelarger {
		width: 100%;
		margin: 20px auto;
		float: none;
	}

    .project_techs_libs_wrapper {
        right: 0;
    }

    .the_post_date, .the_post_author {
        position: relative;
        right: 0;
        margin-left: 10px;
        top: 0;
        margin-bottom: 15px;
    } 
}


@media handheld, only screen and (max-width: 615px) {
	.block-two > li {
		width: 98%;
		float: none;
		margin-top: 100px;
	}

	#site_menu {
		height: auto;
		overflow: hidden;
	}

	#site_menu li {
		width: 50%;
	}

    .block-two > li {
        margin-top: 0;
    }


    #site_header {
        height: auto;
    }
}

/* @end Responisviness */




