<footer class="container mt-10 mb-5">
    <span class="text-xs">
        <a href="https://fixel.macpaw.com">Fixel</a> by MacPaw – <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">License OFL 1.1</a>,
        <a href="https://github.com/theleagueof/league-mono">LeagueMono</a> font by Tyler Finck – <a href="https://github.com/theleagueof/league-mono/blob/master/OFL.md">License OFL 1.1</a>,
        <a href="https://icons.getbootstrap.com">Bootstrap Icons</a> – <a href="https://github.com/twbs/icons/blob/main/LICENSE.md">License MIT</a>
    </span>

    <span class="block mt-3">{{ .Site.Copyright | safeHTML }}</span>
</footer>
