@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/fixeltext/FixelText-Regular.woff2) format('woff'),
    url(/fonts/fixeltext/FixelText-Regular.ttf) format('truetype');
}

@font-face {
  font-family: "Fixel Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/fixeltext/FixelText-Bold.woff2) format('woff'),
    url(/fonts/fixeltext/FixelText-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "LeagueMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/leaguemono/LeagueMono-NarrowLight.woff2) format('woff2'),
    url(/fonts/leaguemono/LeagueMono-NarrowLight.woff) format('woff'),
    url(/fonts/leaguemono/LeagueMono-NarrowLight.otf) format('opentype'),
    url(/fonts/leaguemono/LeagueMono-NarrowLight.ttf) format('truetype');
}


@font-face {
  font-family: "LeagueMono";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/leaguemono/LeagueMono-NarrowRegular.woff2) format('woff2'),
    url(/fonts/leaguemono/LeagueMono-NarrowRegular.woff) format('woff'),
    url(/fonts/leaguemono/LeagueMono-NarrowRegular.otf) format('opentype'),
    url(/fonts/leaguemono/LeagueMono-NarrowRegular.ttf) format('truetype');
}

@layer base {
    .prose a, a {
        @apply text-blue-900 dark:text-indigo-50;
    }
}
